::-webkit-scrollbar
  width: 5px;
  height: 5px;

::-webkit-scrollbar-thumb:vertical
  height: 5px;
  background-color: $accentColor;

::-webkit-scrollbar-thumb:horizontal
  width: 5px;
  background-color: $accentColor;
